@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 2.5rem;
    padding: 2rem 3rem 3rem 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .212);
}

.slider {
    width: 500px;
    overflow: hidden;
}

.camisas-slider {
    display: flex;
    width: 100%;
}

.camisas-slider img{
    width: 500px;
}

.camisas-slider input {
    display: none;
}

.tamanhos{
    padding-bottom: 0.2rem;
}

.botão-compra button{
    width: 90%;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    border: 0.1rem;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.botão-compra button a{
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
    transition: 0.2s;
}

.botão-compra button a:link,
.botão-compra button a:visited{
    color: black;
    text-decoration: none;
}

.botão-compra button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    border-color: white;
}

.botão-compra button:hover a{
    color: white;
}

