@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

body{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 10.5rem;
    padding: 2rem 3rem 3rem 0rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .212);
}

.slider {
    width: 500px;
    overflow: hidden;
}

.camisas-slider {
    display: flex;
    width: 100%;
}

.camisas-slider img{
    width: 500px;
}

.camisas-slider input {
    display: none;
}

.slide-box{
    /* width: 25%; */
    height: auto;
    position: relative;
    text-align: center;
    transition: 2s;
}

.slide-box img{
    width: 100%;
}

/* --------------botões-------------- */

.nav-manual, .nav-auto{
    width: 25%;
    margin-top: 26%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: black;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: black;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -100%;
}

#radio3:checked ~ .primeiro{
    margin-left: -200%;
}

/* ---------------------------------- */

.tamanhos{
    padding-bottom: 0.2rem;
}

.botão-compra button{
    width: 90%;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    border: 0.1rem;
    border-style: solid;
    border-color: black;
    background-color: transparent;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.botão-compra button a{
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
    transition: 0.2s;
}

.botão-compra button a:link,
.botão-compra button a:visited{
    color: black;
    text-decoration: none;
}

.botão-compra button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    border-color: white;
}

.botão-compra button:hover a{
    color: white;
}

@media screen and (min-width: 1600px){
    .slider {
        width: 600px;
    }

    .camisas-slider img{
        width: 600px;
    }
 
}
